# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
.venv/

# Dataset files
data/raw/*.csv
data/processed/*.csv
data/daily_ingest/*

# Logs
logs/
*.log

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db